@mixin displayFlex($justifyContent, $alignItems) {
    display: flex;
    justify-content: #{$justifyContent};
    align-items: #{$alignItems};
}

@mixin ulReset {
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}